.banner .main_banner .banner_item .b_hed {
  font-size: 72px;
  line-height: 88px;
  color: #fff;
  margin-bottom: 0;
  font-weight: 500; }

.banner .main_banner .banner_item .b_pra {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
  color: #fff; }
